<header class="p-4 border-b">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <div>
      <h1 class="font-bold text-2xl tracking-wider"><a href="/">EVENTUM</a></h1>
    </div>
    <!-- Navbar -->
    <nav>
      <ul class="flex justify-between items-center space-x-8">
        <li>
          <a
            class="hover:text-gray-400 hover:border-b-2 hover:border-yellow-400"
            href="/"
            >Home</a
          >
        </li>
        <li>
          <a
            class="hover:text-gray-400 hover:border-b-2 hover:border-yellow-400"
            href="#about"
            >About</a
          >
        </li>
        <li>
          <a
            class="hover:text-gray-400 hover:border-b-2 hover:border-yellow-400"
            href="#news"
            >News</a
          >
        </li>
        <li>
          <a
            class="hover:text-gray-400 hover:border-b-2 hover:border-yellow-400"
            href="/events/"
            >Events</a
          >
        </li>
      </ul>
    </nav>
    <!-- Button -->
    <a
      class="py-2 px-4 rounded-full text-white bg-gradient-to-r from-pink-400 to-yellow-500 transition-all hover:scale-95"
      href="/events/new"
      >Create Event</a
    >
  </div>
</header>
